body {
    background-color: #ccc;
    text-align: center;
}

#content {
    background-color: white;
    width: 900px;
    text-align: left;
    display:inline-block;
    padding:30px;
    box-shadow: -5px 0px 10px #333, 5px 0px 10px #333;
    border-radius: 10px;
}

#visualisation {
    width: 100%;
    text-align: center;
}

#vis {
    border: 1px solid black;
}

.link {
    stroke-width: 1px;
    stroke: grey;

}

.node {
    r: 5;
    fill: darkred;
}

.text_box {
    width: 100%;
}

.statistic_div {
    border-top: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

.statistic_svg {
    display: inline-block;
}

.statistic_span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.xTick {
    visibility: hidden;
}

.xTick:active {
    visibility: visible;
}

.vTimeLine {
    fill: red;
}

.vTimeLineGhost {
    visibility: visible;
    opacity: 0;
    fill: transparent;
    stroke: black;
    stroke-dasharray: 5;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}

.vTimeLineGhost:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.movingTickText {
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}

.vTimeLineGhost:hover ~ .movingTickText {
    opacity: 1;
    transition: opacity 0.5s;
}