body {
    background-color: #ccc;
    text-align: center;
}

#content {
    background-color: white;
    width: 900px;
    text-align: left;
    display:inline-block;
    padding:30px;
    box-shadow: -5px 0px 10px #333, 5px 0px 10px #333;
    border-radius: 10px;
}

#visualisation {
    width: 100%;
    text-align: center;
}

#vis {
    border: 1px solid black;
}

.text_box {
    width: 100%;
}

.statistic_div {
    border-top: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

.statistic_svg {
    display: inline-block;
    border: 1px solid red;
}

.statistic_span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}