@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
    font-family: 'Roboto';
    font-size: 14px;
}

div {
    position: relative;
}

#visualisations {
    width: 100%;
    overflow: visible;

}

.visualisation {
    border:0px solid grey;
    margin-left: 5px;
    margin-right: 5px;
}

#global_options {
    width: 130px;
    margin-left: 5px;
    margin-right: 5px;
}

#vis1 {
    width: 510px;
    height:700px;
}

#vis2 {
    width: auto;
}

#vis2options {
    height: auto;
}

#groupcolor_table td {
    white-space:pre;
    font-family: "Arial Black";
    color: white;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding: 5px;
    border:1px solid black;
}

.vis2row {
    font-family: "Arial Black";
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 20px;
    margin-bottom: 3px;
    border:1px solid black;
    border-left:0px solid black;
    float:left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.vis2row.sol{
    border-left:1px solid black;
    clear:left;
}

.text_box {
    margin-right: 50px;
    max-width: 600px;
}

.floaty {
    float:left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.section{
    margin-bottom: 50px;
}

.section::after{
    content: "";
    clear: both;
    display: table;
}

br{
    clear:both;
}

#year_max_slider, #year_min_slider
{
    width: 100%;
}

#year_max, #year_min {
    width: 40px;
}
ul > li {
    margin-bottom: 10px;
}
