
div {
    position: relative;
}

#visualisations {
    width: 100%;
    height: 600px;
    overflow: visible;
    border: 1px solid grey;
}

.visualisation {
    border:1px solid grey;
    width: 100%;
}

#global_options {
    width: 100px;
    border:1px solid grey;
}

#vis1 {
    width: 300px;
}

#vis2 {
    width: 100px;
}

.vis2row {
    width: 100%;
    height: 20px;
    border:1px solid black;
}

.floaty {
    float:left;
}
