div {
	width: 750px;
}

#strange_body {
	width: 300px;
	text-align: center;
	border-style: solid;
	padding: 10px;

}

#stomach {
	width: 100%;
}

#alien_header {
	color: green;
}

#legs_button {
    padding: 10px 20px;
}
