.node {
  r: 8;
  stroke: steelblue;
  fill: white;
  -webkit-transition: r .5s; /* For Safari 3.1 to 6.0 */
    transition: r .5s;
}

.node.blood {
  fill: steelblue;
}

.node:hover {
  fill: lightsteelblue;
  r: 10;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

#visualisation {
  width: 100%;
  overflow-x: scroll;
}
