.node {
  r: 8;
  stroke: none;
  stroke: steelblue;
}

.node.blood {
  fill: steelblue;
}

.node:hover {
  fill: lightsteelblue;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

#visualisation {
  width: 100%;
  overflow-x: scroll;
}
